<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbq.fundmovie.hangout.mapper.HangOutSQLMapper">
	
	<select id="createKey" resultType="int">
	<![CDATA[
		SELECT hangout_movie_no_seq.nextval FROM Dual
	]]>	
	</select>
	
	
	<insert id="addHangOut">
		<![CDATA[
			INSERT INTO hangout_movie VALUES(
			    #{hangout_movie_no},
			    #{hangout_user_no},
			    #{movie_title},
			    #{movie_start_date},
			    #{deadLine_date},
			    #{member_count},
			    #{hangout_price},
			    #{movie_genre},
			    SYSDATE
			)
		
		]]>
	
	</insert>
	
	
	
	<insert id="addHangOutMember">
		<![CDATA[
			INSERT INTO hangout_join VALUES(
			    hangout_join_no_seq.nextval,
			    #{hangout_movie_no},
			    #{hangout_member_no},
			    SYSDATE
			)
		
		]]>
	
	</insert>
	<select id="selectJoin" resultType="int">
	<![CDATA[
        SELECT count(*) 
        FROM hangout_join 
        WHERE hangout_movie_no=#{hangout_movie_no}
        AND hangout_member_no=#{hangout_member_no}
	]]>
	</select>	
	<select id="selectJoinCount" resultType="int">
	<![CDATA[
        SELECT count(*) 
        FROM hangout_join 
        WHERE hangout_movie_no=#{hangout_movie_no}
	]]>
	</select>
	
	<select id="selectAll" resultType="com.bbq.fundmovie.vo.HangOutVo">
	<![CDATA[
        SELECT * 
        FROM hangout_movie 
        ORDER BY hangout_movie_no DESC
	]]>
	</select>	
	
</mapper>